<h1>Select the API you want to use.......</h1>
<!--<head>
    <script type="text/javascript" src="C:\Users\AkashKumarGoswami\Desktop\API\Sample\node_modules\jQuery"></script>
</head>
<script type="text/javascript" src="C:\Users\AkashKumarGoswami\Desktop\API\Sample\sample.js"></script>-->
<form action = "/select" method="GET">
    <select name="api" id="apiid">
        <option value ="api1">api 1</option>
        <option value ="api2">api 2</option>
        <option value="qp">query parameter</option>
        <option value="xml1">xml</option>
    </select>
    <select name="method" id="methodid">
        <option value="get">GET</option>
        <option value="paramsget">GET</option>
        <option value="post">POST</option>
        <option value="delete">DELETE</option>
    </select>
    <input type="submit">


</form>

<script type="text/javascript" src="C:\Users\AkashKumarGoswami\Desktop\API\Sample\sample.js"></script>

