<h1>Search Employee!!!</h1>
<h6>Employee ID is from 1 to 10</h6>

<form action="/employee" method="GET">
    <input type="number" placeholder="Enter Emp ID" name="id">
    <input type="submit">
</form>